<!DOCTYPE html>
<html>
<head>
	<title>About Us - MovieMania</title>
		 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<nav>
			<div class="logo">
				<a href="/">MovieMania</a>
			</div>
			<ul class="nav-links">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h1>About Us</h1>
			<p>Welcome to MovieMania, your go-to source for movie recommendations! Our team of movie experts is dedicated to providing you with the best movie suggestions based on your personal preferences.</p>
			<p>At MovieMania, we understand that everyone's taste in movies is different. That's why we use a sophisticated algorithm to analyze your movie history and provide personalized recommendations just for you.</p>
			<p>Our mission is to help you discover great movies you might not have found on your own. Whether you're in the mood for a heartwarming romance, an action-packed thriller, or a thought-provoking drama, we've got you covered.</p>
			<p>Thanks for choosing MovieMania. We hope you enjoy our service and find your new favorite movie!</p>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 MovieMania</p>
		<p> Made by Arjan Singh Johar || Sumit Mante || Abhishek Ingle</p>
	</footer>
</body>
</html>
